# OS Files
.DS_Store
Thumbs.db

# Frontend / Node.js
node_modules/
dist/
dist-ssr/
*.local
.npm/
package-lock.json

# Backend / Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
.env.local
.env.*.local
*.log

# Editor Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
